<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h1>Index Page</h1>
		<ul>
			<li>Random</li>
			<% for (let i = 0; i < Pizzas.length; i++) {%>
				<li><%=Pizzas[i].name%></li>
			<%}%>
		</ul>

</body>
</html>