<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h1>Index Page</h1>
		<ul>
			<% for (let i = 0; i < Pizzas.length; i++) {%>
				<li><%=Pizzas[i].name%></li>
				<form action="/pizzas/<%=i%>?_method=DELETE" method="post">
					<button type="submit">Delete</button>
				</form>
			<%}%>
		</ul>

</body>
</html>